body {
    background-color: rgb(189, 188, 188);
}

.morning {
    background-color: yellow;
    width: 600px;
    height: 600px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    border-radius: 30px;
    margin-top: -20px;
}

.night {
    background-color: rgb(129, 129, 129);
    width: 600px;
    height: 600px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    border-radius: 30px;
    margin-top: -20px;
    color: white;
}

.content {
    position: relative;
    top: 40px;
    left: 10px;
}

.btnClass {
    padding: 15px;
    margin: 30px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    background-color: #4285F4;
    color: white;

}

.counApp {
    position: relative;
    top: 50px;
    font-size: 60px;
}

.counNum {
    position: relative;
    top: -40px;
    color: green;
    font-size: 30px;
}

.speBtn {
    position: relative;
    top: 30px;
    width: 150px;
    left: 10px;
}

.goodMo {
    font-size: 25px;
    position: relative;
    left: 8px;
}